section,
footer {
  margin-top: 5.5em;
}

section h1 {
  font-size: large;
}

section h2 {
  font-size: larger;
  margin-bottom: auto;
}

section h3 {
  font-size: large;
  margin-top: 0.5em;
}

section ul,
footer ul {
  list-style: none;
}

/* Link separator / style */
.separator {
  margin: 0 0.4em;
}

/* Mobile Design */
@media (max-width: 450px) {
  header {
    width: 100% !important;
    /* text-align: center; */
  }

  /* Arts images */
  #art1 {
    width: 80vw !important;
    top: 14em !important;
    right: 1.5em !important;
  }

  #art2 {
    width: 35vw !important;
  }

  #latest {
    width: 100% !important;
  }
}
