
section,
footer {
    margin-top: 5.5em;
}

section h1 {
    font-size: large;
}

section h2 {
    font-size: larger;
    margin-bottom: auto;
}

section h3 {
    font-size: large;
    margin-top: .5em;
}

section ul,
footer ul {
    list-style: none;
}

/* Link separator / style */
.separator {
    margin: 0 .4em;
}