.container {
    margin: 0 auto;
    width: 50vw;
    box-sizing: border-box;
}

/* Mobile Design */
@media (max-width: 450px) {
    .container {
      margin: 0px;
      width: 100vw;
      /* padding: 0 .5em; */
    }
    
  }