.side_nav li {
  border: solid #263133;
  text-align: center;
  border-width: 0 0 0 0;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
  border-radius: 3px 3px 3px 3px;
  background-color: rgba(255,255,255,.98);
}

.side_nav li:hover,
.side_nav li a:hover {
    color: white;
    background: black;
    cursor: pointer;
}

/* a:hover {
    color: white;

} */