.postCard {
  width: 25vw;
  display: "flex";
  flex-direction: "column";
  border: 2px solid #e5e7eb;
  border-width: 0 2px 2px 2px;
  padding: 1.2em;
  border-radius: "5px";
}

@media screen and (max-width: 640px) {
  .postCard {
    width: 90vw;
  }
  }

@media screen and (min-width: 640px) and (max-width: 950px) {
  .postCard {
    width: 40vw;
  }
}